.small-logo {
    height: 5rem;
    margin-top: 50px;
}

#popup {
    margin-top: 3rem;
    position: absolute;
    border-radius: 30px;
    width: 320px;
    height: 400px;
    z-index: -1;
    background-color: #29292c;
}
#page2 {
    z-index: 100;
    margin-top: -18rem;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 500;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(40px);
    transition: transform 0.4s ease;
}

#page3 {
    z-index: 100;
    margin-top: -18rem;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 500;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(40px);
    transition: transform 0.4s ease;
}

.blur {
    position: fixed; /* fixed to viewport */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
    /* pointer-events: none; let clicks pass through */
}

#page2 h1 {
    font-size: 2.1em;
    margin: 0px;
}

#page3 h1 {
    font-size: 2.1em;
    margin: 0px;
}
input {
    background-color: #3a3a3d;
    font-family: 'Noto Sans Display', sans-serif;
    outline: none;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 9.4em;
    height: 1.2rem;
    letter-spacing: 1rem;
    color:white;
}

