.small-logo {
    height: 5rem;
    margin-top: 50px;
}



#popup {
    margin-top: 3rem;
    position: absolute; 
    border-radius: 30px;
    width: 360px;
    height: 330px;
    z-index: -2;
    background-color: #29292c;
}
.page2 {
    z-index: -2;
    margin-top: -18rem;
    font-family: "Noto Sans Display", sans-serif;
    font-weight: 500;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blur {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    backdrop-filter: blur(10px);
}

.page2 h1 {
    font-size: 2.1em;
    margin: 0px;
}

input {
    font-family: "Noto Sans Display", sans-serif;
    outline: none;
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 0.6em;
}

#passcode-btn {
    font-family: "Noto Sans Display", sans-serif;
    width: 8em;
    margin-top: 20px;
}