@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@keyframes glow {
    0% {
        
    -webkit-box-shadow: 0px 0px 119px 0px rgba(12, 143, 0, 0.12);
    -moz-box-shadow: 0px 0px 119px 0px rgba(12, 143, 0, 0.12);
    box-shadow: 0px 0px 119px 0px rgba(12, 143, 0, 0.12);
    }
    50% {
        
    -webkit-box-shadow: 0px 0px 119px 12px rgba(12, 143, 0, 0.12);
    -moz-box-shadow: 0px 0px 119px 12px rgba(12, 143, 0, 0.12);
    box-shadow: 0px 0px 119px 12px rgba(12, 143, 0, 0.12);
    }
    100% {
        
    -webkit-box-shadow: 0px 0px 119px 24px rgba(12, 143, 0, 0.12);
    -moz-box-shadow: 0px 0px 119px 24px rgba(12, 143, 0, 0.12);
    box-shadow: 0px 0px 119px 24px rgba(12, 143, 0, 0.12);
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #111;
    color: white;
    text-align: center;
    margin-top: 120px;
}

.main-logo {
    height: 10rem;
}

button {
    background: linear-gradient(45deg, #68ba4f, #119129);
    border: none;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #68ba4f, #14d036);
}

#code2fa {
    background: linear-gradient(45deg, #082400, #01410c);
    border-radius: 16px;
    border: 3px solid #249c00;
    width: 7em;
    height: 2em;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    text-align: center;
    color: #dddddd;
    transition: 0.5s;
}

#code2fa:focus {
    transition: 0.5s;
    outline: none;
    border: 3px solid #007c02;
    animation: glow 1.5s infinite;
}

#req2fa {
    font-family: "Outfit", sans-serif;
    font-size: 2em;
    margin-top: 50px;
}

.page1 {
    display: none;
}

.page2 {
    display: none;
}
#loadtext {
    font-family: "Outfit", sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
}

.load-bg{
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* filter: blur(2px); */
    opacity: 0.7;
    /* transform: rotate3d(1,1,0.3,310deg) scale(2); */
}

#item1 {
    position: relative;
    left: 150px;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: radial-gradient( circle, #FFD07B, #FDB833);

    box-shadow: 0 0 20px 2px #FFD07B;
    width: 50px;
    height: 50px;
}

#item1 img {
    /* display:none; */
    width: 40px;
    border-radius: 10px;
}

#item1::after {
    content: "";

    top: 5px;
    left: -5px;
    border-radius: 10px;
    background: linear-gradient(45deg, #4d3305, #000000);
    /* box-shadow: 0 0 20px #f4ffc2; */
    position: absolute;
    z-index: -3;
}

.loadingpage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 180px;
  height: 11px;
  border-radius: 20px;
  color: #058b00;
  border: 2px solid;
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2.1s infinite;
}
@keyframes l6 {
    100% {inset:0}
}