body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #111;
    color: white;
    text-align: center;
    margin-top: 120px;
}

.main-logo {
    height: 10rem;
}

button {
    background: linear-gradient(45deg, #68ba4f, #119129);
    border: none;
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #68ba4f, #14d036);
}

#code2fa {
    margin-top: 20px;
    border-radius: 30px;
    width: 10rem;
    height: 2rem;
    font-size: 16px;
    color: #ccc;
}