<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/squares.css">
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>

    <div class="area">
        <div class="page2">
            <img class="main-logo" src="../static/assets/ico.svg" alt="">
            <h1 class="passcode-title">Введите код</h1>
            <input type="text" placeholder="...">
            <button class="btn" id="passcode-btn">Подтвердить</button>
            <div id="bg" style="width: 300px; height: 395px; margin-top: 9rem;"></div>
        </div>
        <ul class="circles">
            <img src="../static/assets/33.svg" alt="">
            <img src="../static/assets/Ion Gem.svg" alt="">
            <img src="../static/assets/Plush Pepe.svg" alt="">
            <img src="../static/assets/Toy Bear.svg" alt="">
            <img src="../static/assets/Vintage Cigar.svg" alt="">
            <img src="../static/assets/Ionic Dryer.svg" alt="">
            <img src="../static/assets/Lush Bouquet.svg" alt="">
            <img src="../static/assets/18.svg" alt="">
            <img src="../static/assets/Witch Hat.svg" alt="">
            <img src="../static/assets/Precious Peach.svg" alt="">
        </ul>

    </div>
</body>

</html>