
.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #0200251f;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:120vh;
    z-index: -5;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -5;
}

.circles img{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    filter: blur(3px);
    animation: animate 25s linear infinite;
    bottom: -150px;
    z-index: -5;
    
}

.circles img:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles img:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles img:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles img:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles img:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles img:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles img:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles img:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles img:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles img:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
        -moz-transform: translate3d(0, 0, 0) rotate(0deg);
        -ms-transform: translate3d(0, 0, 0) rotate(0deg);
        -o-transform: translate3d(0, 0, 0) rotate(0deg);
        transform: translate3d(0, 0, 0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        -webkit-transform: translate3d(0, -1000px, 0) rotate(720deg);
        -moz-transform: translate3d(0, -1000px, 0) rotate(720deg);
        -ms-transform: translate3d(0, -1000px, 0) rotate(720deg);
        -o-transform: translate3d(0, -1000px, 0) rotate(720deg);
        transform: translate3d(0, -1000px, 0) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}